<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="Keywords" content="edusec,edusec4,rudra softech,open source development in ahmedabad, college management software,college management system,education management software,school management system,school management software">
<meta name="Description" content="Software development company for open source technology in Ahmedabad. Provide Enterprise solution and quality services.">
<meta property="og:locale" content="en_US">
<meta property="og:title" content="Rudra Softech - Provide Enterprise Solution | Development on open source technology | College Management Software | School Management Software">
<meta property="og:description" content="Core functions like admissions, library management, transport management, students attendance in short entire range of university functions can be well performed by EduSec">
<meta property="og:image" content="http://www.rudrasoftech.com/rudra.png">

		<link rel="shortcut icon" href="http://localhost:8081/CMS/images/rudrasoftech_favicon.png" type="image/x-icon">
        <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="TVMxNURoTUUdBl54LDd6LQ48CUcAPy82fhdWdzAxPiYfKUcGMSo8Jw==">
        <title>Admin Dashboard</title>
        <link href="Admin%20Dashboard_files/bootstrap.css" rel="stylesheet">
<link href="css/fullcalendar.css" rel="stylesheet" media="print">
<link href="css/jquery-ui.css" rel="stylesheet">
<link href="css/fullcalendar_002.css" rel="stylesheet">
<link href="Admin%20Dashboard_files/AdminLTE.css" rel="stylesheet">
<link href="Admin%20Dashboard_files/font-awesome.css" rel="stylesheet">
<link href="Admin%20Dashboard_files/ionicons.css" rel="stylesheet">
<link href="Admin%20Dashboard_files/bootstrap-multiselect.css" rel="stylesheet">
<link href="Admin%20Dashboard_files/EdusecCustome.css" rel="stylesheet">
<script src="Admin%20Dashboard_files/jquery.js"></script>
<script src="Admin%20Dashboard_files/bootstrap.js"></script>
<script src="Admin%20Dashboard_files/yii.js"></script>
<script src="Admin%20Dashboard_files/app.htm"></script>
<script src="Admin%20Dashboard_files/jquery.htm"></script>
<script src="Admin%20Dashboard_files/bootstrap-multiselect.htm"></script>
<script src="Admin%20Dashboard_files/custom-delete-confirm.htm"></script>
<script src="Admin%20Dashboard_files/bootbox.htm"></script>
<script src="Admin%20Dashboard_files/bootstrap.htm"></script>
<script src="Admin%20Dashboard_files/bootstrapx-clickover.htm"></script>    </head>
    <body class="skin-black">
    
 


    <div class="wrapper row-offcanvas row-offcanvas-left">

           <aside class="left-side sidebar-offcanvas">

    <section class="sidebar">

                    <div class="user-panel">
                <div class="pull-left image">
                    <img src="Admin%20Dashboard_files/no-photo.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p> Welcome, admin</p>
                </div>
            </div>
        
        <ul class="sidebar-menu">
            <li>
                <a href="#" class="navbar-link">
                    <i class="fa fa-angle-down"></i> <span class="text-info">Menu</span>
                </a>
            </li>
		    <li><a href="Master Configuration.htm"><i class="fa fa-cogs"></i> <span>Configuration</span></a></li>
		    <li><a href="Dashboard Modules.htm"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
		    <li><a href="?controller=admin&action=course_management"><i class="fa fa-graduation-cap"></i> <span>Course Management</span></a></li>
		    <li><a href="Student Module.htm"><i class="fa fa-users"></i> <span>Student</span></a></li>
		    <li><a href="Employee Module.htm"><i class="fa fa-user"></i> <span>Faculty</span></a></li>
		    <li><a href="Fees Module.htm"><i class="fa fa-money"></i> <span>Fees</span></a></li>
		    <li><a href="Report Center.htm"><i class="fa fa-bar-chart"></i> <span>Report Center</span></a></li>
		    <li><a href="Assignments.htm"><i class="fa fa-user-secret"></i> <span>User Rights</span></a></li>
		    <li><a href="?controller=admin&action=hostel_module"><i class="fa fa-user-secret"></i> <span>Hostel</span></a></li>
		    <li><a href="?controller=admin&action=mess_module"><i class="fa fa-user-secret"></i> <span>Mess</span></a></li>
		    <li><a href="Timetable/AllTimeTable.htm"><i class="fa fa-user-secret"></i> <span>Time Tables</span></a></li>

	        </ul>

	<!-- sidebar-menu. -- End -->

    </section>

</aside>

        <aside class="right-side">

        <ul class="breadcrumb"><li><a href="?controller=pages&action=home"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Admin Dashboard</li>
</ul>

    <section class="content">
        <script>
$(document).ready(function(){
    $('.tab-content').slimScroll({
        height: '300px'
    });
});
$(document).ready(function(){
    $('#coursList').slimScroll({
        height: '250px'
    });
});
</script>
<style>
.tab-content {
   padding:15px;
}
.box .box-body .fc-widget-header {
    background: none;
}
.popover{
    max-width:450px;   
}
</style>



<div id="NoticeModal" class="fade modal" role="dialog" tabindex="-1">
<div class="modal-dialog ">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4><i class="fa fa-eye"></i> View Notice Details</h4>
</div>
<div class="modal-body">
<div id="NoticeModalContent"></div>
</div>

</div>
</div>
</div>
                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
				<div class="callout callout-info msg-of-day">
			    <h4><i class="fa fa-bullhorn"></i> Message of day box</h4>
			    <p><marquee onmouseout="this.setAttribute('scrollamount', 6, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="6" behavior="scroll" direction="left">Each Day is a GIFT don't send it BACK unopened.  Have a nice Day !</marquee></p>
		</div>
		
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                      15                                    </h3>
                                    <p>
                                        Students                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios-people"></i>
                                </div>
								<a class="small-box-footer" href="?controller=admin&action=student_management" >More info <i class="fa fa-arrow-circle-right"></i></a>                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                       17                                    </h3>
                                    <p>
                                        Faculty                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person"></i>
                                </div>
				<a class="small-box-footer" href="Manage Employees.htm">More info <i class="fa fa-arrow-circle-right"></i></a>                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        5                                    </h3>
                                    <p>
                                        Active Courses                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
				<a class="small-box-footer" href="Manage Courses.htm">More info <i class="fa fa-arrow-circle-right"></i></a>                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        5                                    </h3>
                                    <p>
                                        Active Batches                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-sitemap"></i>
                                </div>
                                <a class="small-box-footer" href="Manage Batches.htm">More info <i class="fa fa-arrow-circle-right"></i></a>                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-7 connectedSortable">

			   <div class="nav-tabs-custom"><!-- .nav-tabs-custom -->
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li><a href="#emp-notice" data-toggle="tab">Employee</a></li>
                                    <li><a href="#stu-notice" data-toggle="tab">Student</a></li>
				    <li class="active"><a href="#all-notice" data-toggle="tab">General</a></li>
                                    <li class="pull-left header"><i class="fa fa-inbox"></i>Notice Board</li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Notice -->
                                    <div class="tab-pane active" id="all-notice">
					
										<div class="notice-main bg-light-blue">
						<div class="notice-disp-date">				        		<small class="label label-success"><i class="fa fa-calendar"></i> 30-05-2015</small>	
						</div>
						<div class="notice-body">
							 <div class="notice-title"><a class="noticeModalLink" href="#" style="color:#FFF" data-value="/CMS/index.php?r=dashboard%2Fnotice%2Fview-popup&amp;id=3">Summer Vacation</a>&nbsp; </div>
							 <div class="notice-desc">Summer Vacation starts from June to  2nd week of July. </div>
						</div>					          
					</div>
									    </div>
                                    <div class="tab-pane" id="stu-notice">
					
										 <div class="notice-main bg-aqua">
						<div class="notice-disp-date">				        		<small class="label label-success"><i class="fa fa-calendar"></i> 01-06-2015</small>	
						</div>
						<div class="notice-body">
							 <div class="notice-title"><a class="noticeModalLink" href="#" style="color:#FFF" data-value="/CMS/index.php?r=dashboard%2Fnotice%2Fview-popup&amp;id=1">Next Week Summer Exam </a>&nbsp; </div>
							 <div class="notice-desc">summer Exam will be conducted on Next week. All The Best </div>
						</div>					          
					</div>
										 <div class="notice-main bg-aqua">
						<div class="notice-disp-date">				        		<small class="label label-success"><i class="fa fa-calendar"></i> 25-05-2015</small>	
						</div>
						<div class="notice-body">
							 <div class="notice-title"><a class="noticeModalLink" href="#" style="color:#FFF" data-value="/CMS/index.php?r=dashboard%2Fnotice%2Fview-popup&amp;id=5">Exam From Fill</a>&nbsp; </div>
							 <div class="notice-desc">All Students come and fill their exam forms </div>
						</div>					          
					</div>
									    </div>
				    <div class="tab-pane" id="emp-notice">
					
										 <div class="notice-main bg-teal">
						<div class="notice-disp-date">				        		<small class="label label-success"><i class="fa fa-calendar"></i> 05-06-2015</small>	
						</div>
						<div class="notice-body">
							 <div class="notice-title"><a class="noticeModalLink" href="#" style="color:#FFF" data-value="/CMS/index.php?r=dashboard%2Fnotice%2Fview-popup&amp;id=2">Monthly Report</a>&nbsp; </div>
							 <div class="notice-desc">All Employee have to submit their report on month end. </div>
						</div>					          
					</div>
										 <div class="notice-main bg-teal">
						<div class="notice-disp-date">				        		<small class="label label-success"><i class="fa fa-calendar"></i> 29-05-2015</small>	
						</div>
						<div class="notice-body">
							 <div class="notice-title"><a class="noticeModalLink" href="#" style="color:#FFF" data-value="/CMS/index.php?r=dashboard%2Fnotice%2Fview-popup&amp;id=4">Attendance Report</a>&nbsp; </div>
							 <div class="notice-desc">All Employees collect their class wise  attendance report </div>
						</div>					          
					</div>
									    </div>
                                </div> <!--  /.tab-content -->
                            </div><!-- /.nav-tabs-custom -->

			    <!-- Calendar -->
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <i class="fa fa-calendar"></i>
                                    <h3 class="box-title">Calendar</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <!--The calendar -->
	                            <div id="w0" class="fullcalendar" language="es">
</div>
				   <div class="row">
					<ul class="legend">
					    <li><span class="holiday"></span> Holiday</li>
					    <li><span class="importantnotice"></span> Important Notice</li>
					    <li><span class="meeting"></span> Meeting</li>
					    <li><span class="messages"></span> Messages</li>
					</ul>
				   </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->

                        </section><!-- /.Left col -->
                        <!-- right col (We are only adding the ID to make the widgets sortable)-->
                        <section class="col-lg-5 connectedSortable">

			    <div class="nav-tabs-custom"><!-- .nav-tabs-custom -->
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li><a href="#birth-upcoming" data-toggle="tab">Upcoming</a></li>
				    <li class="active"><a href="#birth-taday" data-toggle="tab">Today's</a></li>
                                    <li class="pull-left header"><i class="fa fa-birthday-cake"></i>Birthdays</li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Birthdays -->
				    <div class="tab-pane active" id="birth-taday">
					<div class="box-header bg-warning"><div style="padding:5px">No Birthday Today</div></div>				    </div>
                                    <div class="tab-pane" id="birth-upcoming">
					<div class="box-header bg-warning"><div style="padding:5px">No Birthday within 30 days duration</div></div>				    </div>
                                </div> <!--  /.tab-content -->
                            </div><!-- /.nav-tabs-custom -->

			    <!-- TO DO List -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <i class="ion ion-university"></i>
                                    <h3 class="box-title">Courses</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="todo-list" id="coursList">
				                                             <li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
                                            <span class="text">BTech IT</span>
                                            					    <span class="notification-container pull-right text-teal" title="5 Students"><i class="fa fa-users"></i><span class="label label-info notification-counter">5</span></span>
                                        </li>
				                                             <li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
                                            <span class="text">BTech CSE</span>
                                            					    <span class="notification-container pull-right text-teal" title="3 Students"><i class="fa fa-users"></i><span class="label label-info notification-counter">3</span></span>
                                        </li>
				                                             <
				                                         </ul>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->

                        </section><!-- right col -->
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->

    </section>

    <footer class="edusec-main-footer">
      <div class="container col-lg-12 col-md-12 col-xs-12 no-padding">
        <div class="pull-right hidden-xs">
          <!--b>Version</b> 3.0 -->
        </div>
        <strong>Copyright © 2015 <a>Team 3</a>.</strong> All rights reserved.
      </div>
    </footer>

</aside>



    </div>

    <script src="Admin%20Dashboard_files/moment.js"></script>
<script src="Admin%20Dashboard_files/jquery-ui.js"></script>
<script src="Admin%20Dashboard_files/fullcalendar.js"></script>
<script src="Admin%20Dashboard_files/gcal.js"></script>
<script src="Admin%20Dashboard_files/lang-all.js"></script>
<script src="Admin%20Dashboard_files/en.htm"></script>
<script type="text/javascript">jQuery(document).ready(function () {
$(function() {
	$('.noticeModalLink').click(function() {
		$('#NoticeModal').modal('show')
		.find('#NoticeModalContent')
		.load($(this).attr('data-value'));
	});
});
$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide'); 
        }
    });
});
jQuery('#NoticeModal').modal({"show":false});
$('#w0').fullCalendar({"fixedWeekCount":false,"weekNumbers":true,"editable":true,"eventLimit":true,"eventLimitText":"more Events","header":{"center":"title","left":"prev,next today","right":"month,agendaWeek,agendaDay"},"eventClick":		function(event, jsEvent, view) {
		    $('.fc-event').on('click', function (e) {
			$('.fc-event').not(this).popover('hide');
		    });
		},"eventRender":		function (event, element) {
			var start_time = moment(event.start).format("DD-MM-YYYY, h:mm:ss a");
		    	var end_time = moment(event.end).format("DD-MM-YYYY, h:mm:ss a");

			element.clickover({
		            title: event.title,
		            placement: 'top',
		            html: true,
			    global_close: true,
			    container: 'body',
		            content: "<table class='table'><tr><th> Event Detail : </th><td>" + event.description + " </td></tr><tr><th> Event Type : </th><td>" + event.event_type + "</td></tr><tr><th> Start Time : </t><td>" + start_time + "</td></tr><tr><th> End Time : </th><td>" + end_time + "</td></tr></table>"
        		});
               },"contentHeight":380,"timeFormat":"hh(:mm) A","events":"/CMS/index.php?r=dashboard%2Fevents%2Fview-events"});
});</script>    
    
    </body></html>