<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="Keywords" content="edusec,edusec4,rudra softech,open source development in ahmedabad, college management software,college management system,education management software,school management system,school management software">
		<meta name="Description" content="Software development company for open source technology in Ahmedabad. Provide Enterprise solution and quality services.">
		<meta property="og:locale" content="en_US">
		<meta property="og:title" content="Rudra Softech - Provide Enterprise Solution | Development on open source technology | College Management Software | School Management Software">
		<meta property="og:description" content="Core functions like admissions, library management, transport management, students attendance in short entire range of university functions can be well performed by EduSec">
		<meta property="og:image" content="http://www.rudrasoftech.com/rudra.png">

	<link rel="shortcut icon" href="http://localhost:8081/CMS/images/rudrasoftech_favicon.png" type="image/x-icon">
        <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="YzRib3hjTTQRQCoEKTt8R1N1NCsxE397EmYtCABaJV4Td1MfISECcQ==">
        <title>Manage Course Modules</title>
        <link href="Manage%20Course%20Modules_files/bootstrap.css" rel="stylesheet">
<link href="Manage%20Course%20Modules_files/AdminLTE.css" rel="stylesheet">
<link href="Manage%20Course%20Modules_files/font-awesome.css" rel="stylesheet">
<link href="Manage%20Course%20Modules_files/ionicons.css" rel="stylesheet">
<link href="Manage%20Course%20Modules_files/bootstrap-multiselect.css" rel="stylesheet">
<link href="Manage%20Course%20Modules_files/EdusecCustome.css" rel="stylesheet">
<style>.disp-count{cursor:default;} .disp-count:hover {background-color:none !important}</style>
<script src="Manage%20Course%20Modules_files/jquery.js"></script>
<script src="Manage%20Course%20Modules_files/yii.js"></script>
<script src="Manage%20Course%20Modules_files/bootstrap.js"></script>
<script src="Manage%20Course%20Modules_files/app.htm"></script>
<script src="Manage%20Course%20Modules_files/jquery.htm"></script>
<script src="Manage%20Course%20Modules_files/bootstrap-multiselect.htm"></script>
<script src="Manage%20Course%20Modules_files/custom-delete-confirm.htm"></script>
<script src="Manage%20Course%20Modules_files/bootbox.htm"></script>
<script src="Manage%20Course%20Modules_files/bootstrap.htm"></script>
<script src="Manage%20Course%20Modules_files/bootstrapx-clickover.htm"></script>    </head>
    <body class="skin-black">
    	

      <div class="wrapper row-offcanvas row-offcanvas-left">

           <aside class="left-side sidebar-offcanvas">

    <section class="sidebar">

                    <div class="user-panel">
                <div class="pull-left image">
                    <img src="Manage%20Course%20Modules_files/no-photo.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p> Welcome, admin</p>
                </div>
            </div>
        
        <!-- sidebar-menu. -- Start -->

        <ul class="sidebar-menu">
            <li>
                <a href="http://localhost:8081/CMS/index.php" class="navbar-link">
                    <i class="fa fa-angle-down"></i> <span class="text-info">Menu</span>
                </a>
            </li>
	<li class="treeview active">
	<a href="http://localhost:8081/CMS/index.php?r=student%2Fdefault%2Findex"><i class="fa fa-graduation-cap"></i> <span>Course Management</span> <i class="fa fa-angle-left pull-right"></i></a>        <ul class="treeview-menu">
	            <li>
		<a href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Findex"><i class="fa fa-angle-double-right"></i> Course</a>	    </li>
	            <li>
		<a href="http://localhost:8081/CMS/index.php?r=course%2Fbatches%2Findex"><i class="fa fa-angle-double-right"></i> Batch</a>	    </li>
		    <li>
		<a href="http://localhost:8081/CMS/index.php?r=course%2Fsection%2Findex"><i class="fa fa-angle-double-right"></i> Section</a>	    </li>
	        </ul>
</li>
        </ul>

	<!-- sidebar-menu. -- End -->

    </section>

</aside>
	
        <aside class="right-side">

        <ul class="breadcrumb"><li><a href="http://localhost:8081/CMS/index.php"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Manage Course Modules</li>
</ul>

    <section class="content">
        

<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-graduation-cap"></i> Manage Course Modules</h3>
	</div>
	<div class="box-body">

	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
		      <div class="edusec-link-box">
		        <span class="edusec-link-box-icon bg-yellow"><i class="fa fa-graduation-cap"></i></span>
		        <div class="edusec-link-box-content">
		          <span class="edusec-link-box-text"><a href="http://localhost:8081/CMS/index.php?r=course%2Fcourses">Manage Course</a></span>
		          <span class="edusec-link-box-number">5</span>
			 <span class="edusec-link-box-desc"></span>
			  <span class="edusec-link-box-bottom"><a href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Fcreate"><i class="fa fa-plus-square"></i> Create New</a></span>
		        </div><!-- /.info-box-content -->
		      </div><!-- /.info-box -->
		</div>

	

	</div> <!-- /. End Row-->	

</div><!-- /.box-body -->
</div>

<div class="box box-primary">
	<div class="box-header with-border">
	  <h3 class="box-title"><i class="fa fa-graduation-cap"></i> Manage Current Active Course</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		  <div id="accordion" class="box-group">

		
	    <div class="panel box box-default">
	      <div class="box-header with-border">
		<h4 class="box-title">
		  <a href="#collapse0" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" style="color:#3c8dbc">1. BTech IT</a>		</h4>
		<div class="pull-right box-tools">
		    <span class="btn btn-sm btn-info disp-count">
			<i class="fa fa-users"></i> Students &nbsp;
			<span class="badge">
				5			</span>
		    </span>
		     <span class="btn btn-sm btn-warning disp-count">
			<i class="fa fa-sitemap"></i> Batches &nbsp;
			<span class="badge">
				1			</span>
		    </span>

		    <a class="btn-sm btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Fview&amp;id=1" title="View Course Details"><i class="fa fa-eye"></i></a>		    <a class="btn-sm btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Fupdate&amp;id=1" title="Edit Course Details"><i class="fa fa-pencil-square-o"></i></a>		    <a class="btn-sm btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Fdelete&amp;id=1" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><i class="fa fa-trash-o"></i></a>                </div>
	      </div>

	      <div class="panel-collapse collapse" id="collapse0" aria-expanded="true" style="">
		<div class="box-body">
				  <ol style=" font-size: 15px; line-height: 35px;">
		    			<li>MCA-Batch-01			    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fbatches%2Fview&amp;id=1" title="View Batch Details"><i class="fa fa-eye"></i></a>			    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fbatches%2Fupdate&amp;id=1" title="Edit Batch Details"><i class="fa fa-pencil-square-o"></i></a>			    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fbatches%2Fdelete&amp;id=1" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><i class="fa fa-trash-o"></i></a>	
				<div class="pull-right hidden-xs">
					<span class="label label-default">
						<i class="fa fa-users"></i> Students&nbsp;
						<span class="badge" style="background:#fff;color: #777;">
						5						</span>
					</span> &nbsp;
											<span class="label label-success">Active</span>
									</div>
							<ol>
									<li>
					    MCA-Section-01					    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fsection%2Fview&amp;id=1" title="View Section Details"><i class="fa fa-eye"></i></a>			    		    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fsection%2Fupdate&amp;id=1" title="Edit Section Details"><i class="fa fa-pencil-square-o"></i></a>			    		    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fsection%2Fdelete&amp;id=1" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><i class="fa fa-trash-o"></i></a> 
					    <div class="pull-right hidden-xs">
						<span class="label label-default">
							<i class="fa fa-users"></i> Students&nbsp;
							<span class="badge" style="background:#fff;color: #777;">
							5							</span>
						</span> &nbsp;
												<span class="label label-success">Active</span>
											    </div>
					</li>
				 
				</ol>
			 
			</li>
		    		  </ol>
		</div>
	      </div><!-- /.panel box -->
	    </div><!-- /.panel box -->
		
	    <div class="panel box box-default">
	      <div class="box-header with-border">
		<h4 class="box-title">
		  <a href="#collapse1" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" style="color:#3c8dbc">2. BTech CSE</a>		</h4>
		<div class="pull-right box-tools">
		    <span class="btn btn-sm btn-info disp-count">
			<i class="fa fa-users"></i> Students &nbsp;
			<span class="badge">
				3			</span>
		    </span>
		     <span class="btn btn-sm btn-warning disp-count">
			<i class="fa fa-sitemap"></i> Batches &nbsp;
			<span class="badge">
				1			</span>
		    </span>

		    <a class="btn-sm btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Fview&amp;id=2" title="View Course Details"><i class="fa fa-eye"></i></a>		    <a class="btn-sm btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Fupdate&amp;id=2" title="Edit Course Details"><i class="fa fa-pencil-square-o"></i></a>		    <a class="btn-sm btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fcourses%2Fdelete&amp;id=2" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><i class="fa fa-trash-o"></i></a>                </div>
	      </div>

	      <div class="panel-collapse collapse" id="collapse1" aria-expanded="true" style="">
		<div class="box-body">
				  <ol style=" font-size: 15px; line-height: 35px;">
		    			<li>BCA-Batch-01			    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fbatches%2Fview&amp;id=2" title="View Batch Details"><i class="fa fa-eye"></i></a>			    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fbatches%2Fupdate&amp;id=2" title="Edit Batch Details"><i class="fa fa-pencil-square-o"></i></a>			    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fbatches%2Fdelete&amp;id=2" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><i class="fa fa-trash-o"></i></a>	
				<div class="pull-right hidden-xs">
					<span class="label label-default">
						<i class="fa fa-users"></i> Students&nbsp;
						<span class="badge" style="background:#fff;color: #777;">
						3						</span>
					</span> z&nbsp;
											<span class="label label-success">Active</span>
									</div>
							<ol>
									<li>
					    BCA-Section-01					    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fsection%2Fview&amp;id=2" title="View Section Details"><i class="fa fa-eye"></i></a>			    		    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fsection%2Fupdate&amp;id=2" title="Edit Section Details"><i class="fa fa-pencil-square-o"></i></a>			    		    <a class="btn-xs btn btn-default" href="http://localhost:8081/CMS/index.php?r=course%2Fsection%2Fdelete&amp;id=2" title="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post"><i class="fa fa-trash-o"></i></a> 
					    <div class="pull-right hidden-xs">
						<span class="label label-default">
							<i class="fa fa-users"></i> Students&nbsp;
							<span class="badge" style="background:#fff;color: #777;">
							3							</span>
						</span> &nbsp;
												<span class="label label-success">Active</span>
											    </div>
					</li>
				 
				</ol>
			 
			</li>
		    		  </ol>
		</div>
	      </div><!-- /.panel box -->
	    </div><!-- /.panel box -->
		
	      </div><!-- /.box-group -->
		</div><!-- /.box-body -->
</div><!-- /.box-main -->
    </section>

    <footer class="edusec-main-footer">
      <div class="container col-lg-12 col-md-12 col-xs-12 no-padding">
        <div class="pull-right hidden-xs">
          <!--b>Version</b> 3.0 -->
        </div>
        <strong>Copyright © 2015 <a href="http://www.rudrasoftech.com/">Tean 3</a>.</strong> All rights reserved.
      </div>
    </footer>

</aside>


	
      </div>
        
    
    </body></html>